.palette{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, 50px);
}
.primary-base{
    background: var(--color-primary-base);
}
.primary-light{
    background: var(--color-primary-light);
}
.primary-dark{
    background: var(--color-primary-dark);
}
.secondary-base{
    background: var(--color-secondary-base);
}
.secondary-light{
    background: var(--color-secondary-light);
}
.secondary-dark{
    background: var(--color-secondary-dark);
}
.tertiary-base{
    background: var(--color-tertiary-base);
}
.tertiary-light{
    background: var(--color-tertiary-light);
}
.tertiary-dark{
    background: var(--color-tertiary-dark);
}